# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd

# Virtual Environment
.venv/
venv/
env/

# Environment Variables
.env

# IDE
.idea/
.vscode/

# Django
media/
staticfiles/
*.log

# React
swimapp-frontend/node_modules/
swimapp-frontend/build/

# OS
.DS_Store
Thumbs.db